body{
  background-color: #B9B9B8;

}



.atras1{
  background-color: #ffffff51;
  color: rgba(255, 255, 255, 0.425);
  font-size: 24px;         /* Aumentar tamaño de la flecha */
  padding: 8px 15px;       /* Ajustar el padding para mejor apariencia */
  cursor: pointer;         /* Cambiar el cursor a pointer */
  border-radius: 5px;

}

.flechita{
  background-color: #C2262B;
}

.atras:hover{
  background-color: #ffffff;
  color: black;
}
.chat-header {
  background-color: #ffffff51; /* Rojo oscuro */
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;

  display: flex;              /* Para alinear en fila */
  align-items: center;        /* Centrar verticalmente */
  gap: 10px;  
}


/* Contenedor del chat */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: #fff;
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  
}

/* Caja de mensajes */
.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #B9B9B8;

  
}

/* Mensajes del bot */
.bot-message {
  background: #C2262B; /* Rojo */
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-start;
  max-width: 70%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.345) ;
}

/* Mensajes del usuario */
.user-message {
  background:#3A66AA; /* Azul */
  color: 111827;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;
  max-width: 70%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.379);

}

/* Contenedor del input */
.input-container {
  border-top: 1px solid #ddd;
  background: #929292;
  width: 100%; 
  align-items: center;          /* Ancho del contenedor */



}
.input-container form {
  display: flex;      /* pone input y botón en fila */
  width: 80%;        /* el form ocupa todo el ancho */
  align-items: center;

}

input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  background: #d9d9d9;           /* El input ocupa todo el ancho disponible */
  box-sizing: border-box;
  color: black;


}

button {
  border: none;
  background: #C2262B;
  font-size: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius:  10px;

}



